<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{::link})">
    <title>Setkávání pacientů | Naše činnost</title>
    <link th:href="@{~/css/smoothbox.css}" rel="stylesheet">
</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>
<div class="container-fluid">

    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Setkávání pacientů</h1>
        </div>


    </div>


    <div class="container mt-3">
        <div class="row">
            <div class="col-md p-4">
                <h2>1. setkání členů spolku - 22. 11. 2018</h2>
                <p>Naše první setkání proběhlo na Klinice otorinolaryngologie a chirurgie hlavy a krku </p>
                <h3>Fakultní nemocnice v Hradci Králové. </h3>
                <p>Sešli jsme se v hojném počtu, přijeli účastníci z blízka i z daleka (z Ostravy, Nymburka, Ledče nad
                    Sázavou, Svitav, Dobrušky, Poděbrad, Rtyně v Podkrkonoší, Žlunic...) a byli to nejen pacienti po
                    laryngektomii, ale také jejich rodinní příslušníci a příznivci. Potěšila nás účast z řad odborníků -
                    lékařů kliniky a logopedů. </p>
                <h3>Všem srdečně děkujeme, že přijali naše pozvání!</h3>
                <p>Setkání zahájil přednosta kliniky prof. MUDr. Viktor Chrobok, CSc, Ph.D. názornou a srozumitelnou
                    přednáškou o laryngektomii, jejích zdravotních důsledcích a možnostech náhradní komunikace.</p>
                <p>Paní Ivana Procházková, zástupkyně firmy Medial nám prezentovala tracheostomické kanyly a další
                    pomůcky, např. možnosti krytí, desinfekce, umělé nosy, ochranné šátky a další.</p>
                <p>O důvodech vzniku spolku (jako pokračovatele zaniklého Klubu laryngektomovaných) a o našich cílech a
                    plánech do budoucna, jsem účastníky setkání seznámila v krátkém příspěvku já.</p>
                <p>Na naše dotazy nám odpovídali nejen prof. MUDr. Viktor Chrobok, CSc., Ph.D., MUDr. Jakub Dršata,
                    Ph.D. a MUDr. Petr Kordač, ale také došlo na vzájemnou výměnu zkušeností mezi účastníky.</p>
                <p>Ze setkání vyplynuly inspirativní podněty pro další činnost spolku. </p>
                <p>O plánovaných akcích budeme členy informovat ve Zpravodaji S-LETu a pro ostatní zájemce budou tyto
                    informace dostupné zde a také na stránkách www.jicnovyhlas.cz </p>
                <p>Těšíme se na Vás na příštím setkání!</p>
                <p>Za výbor spolku: </p>
                <p>Mgr. Eva Kocábková a Karel Tejkl</p>


            </div>
        </div>
    </div>

    <div class="flexContainer galeryBox mt-3">

        <div class="galery">
            <a class="sb" href="/images/galerie/fotka01.jpg" th:href="@{/images/galerie/fotka01.jpg}"
               title="1. setkání">
                <img src="/images/galerie/nahled/nahled01.jpg" th:src="@{/images/galerie/nahled/nahled01.jpg}"
                     alt="1. setkání">
            </a>
        </div>
        <div class="galery">
            <a class="sb" href="/images/galerie/fotka02.jpg" th:href="@{/images/galerie/fotka02.jpg}"
               title="1. setkání">
                <img src="/images/galerie/nahled/nahled02.jpg" th:src="@{/images/galerie/nahled/nahled02.jpg}"
                     alt="1. setkání">
            </a>
        </div>
        <div class="galery">
            <a class="sb" href="/images/galerie/fotka03.jpg" th:href="@{/images/galerie/fotka03.jpg}"
               title="1. setkání">
                <img src="/images/galerie/nahled/nahled03.jpg" th:src="@{/images/galerie/nahled/nahled03.jpg}"
                     alt="1. setkání">
            </a>
        </div>
        <div class="galery">
            <a class="sb" href="/images/galerie/fotka04.jpg" th:href="@{/images/galerie/fotka04.jpg}"
               title="1. setkání">
                <img src="/images/galerie/nahled/nahled04.jpg" th:src="@{/images/galerie/nahled/nahled04.jpg}"
                     alt="1. setkání">
            </a>
        </div>
        <div class="galery">
            <a class="sb" href="/images/galerie/fotka05.jpg" th:href="@{/images/galerie/fotka05.jpg}"
               title="1. setkání">
                <img src="/images/galerie/nahled/nahled05.jpg" th:src="@{/images/galerie/nahled/nahled05.jpg}"
                     alt="1. setkání">
            </a>
        </div>
        <div class="galery">
            <a class="sb" href="/images/galerie/fotka06.jpg" th:href="@{/images/galerie/fotka06.jpg}"
               title="1. setkání">
                <img src="/images/galerie/nahled/nahled06.jpg" th:src="@{/images/galerie/nahled/nahled06.jpg}"
                     alt="1. setkání">
            </a>
        </div>
        <div class="galery">
            <a class="sb" href="/images/galerie/fotka07.jpg" th:href="@{/images/galerie/fotka07.jpg}"
               title="1. setkání">
                <img src="/images/galerie/nahled/nahled07.jpg" th:src="@{/images/galerie/nahled/nahled07.jpg}"
                     alt="1. setkání">
            </a>
        </div>
        <div class="galery">
            <a class="sb" href="/images/galerie/fotka08.jpg" th:href="@{/images/galerie/fotka08.jpg}"
               title="1. setkání">
                <img src="/images/galerie/nahled/nahled08.jpg" th:src="@{/images/galerie/nahled/nahled08.jpg}"
                     alt="1. setkání">
            </a>
        </div>
        <div class="galery">
            <a class="sb" href="/images/galerie/fotka09.jpg" th:href="@{/images/galerie/fotka09.jpg}"
               title="1. setkání">
                <img src="/images/galerie/nahled/nahled09.jpg" th:src="@{/images/galerie/nahled/nahled09.jpg}"
                     alt="1. setkání">
            </a>
        </div>
        <div class="galery">
            <a class="sb" href="/images/galerie/fotka10.jpg" th:href="@{/images/galerie/fotka10.jpg}"
               title="1. setkání">
                <img src="/images/galerie/nahled/nahled10.jpg" th:src="@{/images/galerie/nahled/nahled10.jpg}"
                     alt="1. setkání">
            </a>
        </div>
        <div class="galery">
            <a class="sb" href="/images/galerie/fotka11.jpg" th:href="@{/images/galerie/fotka11.jpg}"
               title="1. setkání">
                <img src="/images/galerie/nahled/nahled11.jpg" th:src="@{/images/galerie/nahled/nahled11.jpg}"
                     alt="1. setkání">
            </a>
        </div>
        <div class="galery">
            <a class="sb" href="/images/galerie/fotka12.jpg" th:href="@{/images/galerie/fotka12.jpg}"
               title="1. setkání">
                <img src="/images/galerie/nahled/nahled12.jpg" th:src="@{/images/galerie/nahled/nahled12.jpg}"
                     alt="1. setkání">
            </a>
        </div>


    </div>
    <div th:replace="'./fragments/fragments.html' :: footer"></div>

    <script th:src="@{~/js/smoothbox.jquery2.js}"></script>
</div>


</body>
</html>