<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title th:text="${article.name}">Detail článku</title>
    <style>
        /* Make the image fully responsive */


    </style>

</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>
<div class="container container-small" th:object="${article}">

    <div class="row m-3 p-3 rounded">
        <div class="col-md">
            <h1 class="text-center" th:text="*{name}"></h1>
        </div>


    </div>


    <div class="row">
        <div class="col-lg-3 text-lg-left text-center order-lg-0">
            <h5><span th:remove="tag" th:text="*{user.firstName}"></span> <span
                    th:remove="tag" th:text="*{user.lastName}"></span></h5>
        </div>
        <div class="offset-lg-1 col-lg-4 offset-1 col-10 order-lg-1 order-last mb-2 mb-lg-0">
            <div class="hashtag text-center mt-3">
                #<span th:remove="tag" th:text="*{articleType.name}"></span>
            </div>
        </div>
        <div class="offset-lg-1 col-lg-3 text-lg-right text-center order-lg-2">
            <h5><span th:remove="tag" th:text="*{getCreateDateTimeString()}"></span></h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p th:utext="*{text}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div th:if="*{images!=null and !images.empty}">
                <div th:if="${#lists.size(article.images) eq 1}">

                    <div th:each="img,iter : *{images}" th:remove="tag">

                        <img class="img-fluid mx-auto d-block"
                             th:src="|data:image/jpeg;base64,${img.getEncodeBase64()}|">

                    </div>
                </div>
                <div class="carousel slide" data-interval="false" data-pause="hover"
                     data-ride="carousel" id="article-carousel" th:unless="${#lists.size(article.images) eq 1}">
                    <!--indicators-->
                    <ul class="carousel-indicators">
                        <div th:each="img,iter : *{images}" th:remove="tag">
                            <li data-target="#article-carousel" th:classappend="${iter.first} ? 'active' : ''"
                                th:data-slide-to="|${iter.index}-${img.id}|"></li>
                        </div>
                    </ul>

                    <!--slideshow-->
                    <div class="carousel-inner">
                        <div th:each="img,iter : *{images}" th:remove="tag">
                            <div class="carousel-item" th:classappend="${iter.first} ? 'active' : ''">
                                <img class="carousel-image" th:src="|data:image/jpeg;base64,${img.getEncodeBase64()}|">
                            </div>
                        </div>


                    </div>
                    <!--left and right controls-->
                    <a class="carousel-control-prev" data-slide="prev" href="#article-carousel">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" data-slide="next" href="#article-carousel">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3 rounded">
        <div class="col m-auto text-center">
            <a class="btn btn-secondary" th:href="@{~/clanky(query='newsletter')}">Starší zpravodaje</a>
        </div>

    </div>
</div>
</div>

<div th:replace="'./fragments/fragments.html' :: footer"></div>

</body>
</html>