<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Přihlášení</title>
</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>
<div class="container-fluid container-small">

    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Přihlašte se</h1>
        </div>


    </div>

    <div class="row justify-content-center align-items-center mt-3 text-center">
        <div class="col-xl-3 col-md-6 mb-3 mb-xl-0 rounded mx-3 p-5 border-custom">
            <h2 class="text-center">Ještě nemáte účet?</h2>
            <form action="#" method="GET" th:action="@{registrace}" th:method="GET">
                <button class="btn btn-primary" type="submit">Zaregistrujte se</button>
            </form>
        </div>

        <div class="col-xl-3 col-md-6 offset-lg-3 offset-md-1 rounded mx-3 p-5 border-custom">
            <form action="#" method="POST" th:action="@{prihlasit}" th:method="POST">


                <div class="alert alert-danger" th:if="${param.error}">
                    Nesprávné přihlašovací jméno nebo heslo.
                </div>
                <div class="alert alert-success" th:if="${param.logout}">
                    Byl jste odhlášen.
                </div>


                <div class="alert alert-success"
                     th:if="${registrationSuccess}"
                     th:text="'Registrace proběhla úspěšně. Nyní se můžete přihlásit jako: ' + ${username}">

                </div>


                <div class="form-group">
                    <label for="username">Uživatelské jméno</label>
                    <input class="form-control" id="username" name="username" pattern=".{2,50}"
                           placeholder="Přihlašovací jméno" required title="Délka 2-50 znaků." type="text">

                </div>

                <div class="form-group">
                    <label for="password">Heslo</label>
                    <input class="form-control" id="password" name="password" pattern=".{5,}" placeholder="Heslo"
                           required title="Minimální délka je 5 znaků." type="password">
                </div>


                <!-- Send button -->
                <button class="btn btn-primary mt-2" type="submit">Přihlásit se</button>

            </form>


        </div>

        <div class="col-xl-3 col-md-6 my-3 my-xl-0 rounded mx-3 p-5 border-custom">
            <h2 class="text-center">Zapomněli jste heslo?</h2>
            <form action="#" method="GET" th:action="@{zapomenute-heslo}" th:method="GET">
                <button class="btn btn-primary" type="submit">Obnovit heslo</button>
            </form>

        </div>
    </div>


    <div th:replace="'./fragments/fragments.html' :: footer"></div>

</div>
</body>
</html>