<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Přihlášení</title>
</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>
<div class="container-fluid container-small">

    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Přihlašte se</h1>
        </div>


    </div>

    <div class="row justify-content-center align-items-center mt-3 text-center">
        <div class="col-xl-3 col-md-6 mb-3 mb-xl-0 rounded mx-3 p-5 border-custom">
            <h2 class="text-center">Ještě nemáte účet?</h2>
            <form method="GET" action="#" th:method="GET" th:action="@{registrace}">
                <button class="btn btn-primary" type="submit">Zaregistrujte se</button>
            </form>
        </div>

        <div class="col-xl-3 col-md-6 offset-lg-3 offset-md-1 rounded mx-3 p-5 border-custom">
            <form method="POST" action="#" th:method="POST" th:action="@{prihlasit}">


                <div th:if="${param.error}" class="alert alert-danger">
                    Nesprávné přihlašovací jméno nebo heslo.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    Byl jste odhlášen.
                </div>


                <div th:if="${registrationSuccess}"
                     th:text="'Registrace proběhla úspěšně. Nyní se můžete přihlásit jako: ' + ${username}"
                     class="alert alert-success">

                </div>


                <div class="form-group">
                    <label for="username">Uživatelské jméno</label>
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Přihlašovací jméno" required pattern=".{2,50}" title="Délka 2-50 znaků.">

                </div>

                <div class="form-group">
                    <label for="password">Heslo</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Heslo"
                           required pattern=".{5,}" title="Minimální délka je 5 znaků.">
                </div>


                <!-- Send button -->
                <button class="btn btn-primary mt-2" type="submit">Přihlásit se</button>

            </form>


        </div>

        <div class="col-xl-3 col-md-6 my-3 my-xl-0 rounded mx-3 p-5 border-custom">
            <h2 class="text-center">Zapomněli jste heslo?</h2>
            <form method="GET" action="#" th:method="GET" th:action="@{zapomenute-heslo}">
                <button class="btn btn-primary" type="submit">Obnovit heslo</button>
            </form>

        </div>
    </div>




    <div th:replace="'./fragments/fragments.html' :: footer"></div>

</div>
</body>
</html>