<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Registrace</title>
</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>

<div class="container-fluid container-small">


    <div class="row bgcolor1 m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center colorWhite">Registace</h1>
        </div>


    </div>

    <div class="row justify-content-center align-items-center mt-3 text-center">
        <div class="col-md-6 rounded mt-3 p-5">
            <form method="post" action="#" th:method="post" th:action="@{/registrace}"
                  th:object="${user}" enctype="multipart/form-data" onsubmit="return checkForm(this)">


                <div class="form-group">

                    <label for="username">Uživatelské jméno</label>
                    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
                    <input type="text" th:field="*{username}" id="username" name="username" class="form-control mb-4"
                           placeholder="Uživatelské jméno" required pattern=".{3,50}" title="Délka 3-50 znaků."/>

                </div>


                <div class="form-group">

                    <label for="email">Email</label>
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                    <input type="email" th:field="*{email}" id="email" name="email" class="form-control mb-4"
                           placeholder="Email" required/>

                </div>

                <div class="form-group">

                    <label for="firstName">Jméno</label>
                    <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
                    <input type="text" th:field="*{firstName}" id="firstName" name="firstName" class="form-control mb-4"
                           placeholder="Jméno" required pattern=".{2,50}" title="Délka 2-50 znaků."/>

                </div>

                <div class="form-group">

                    <label for="lastName">Příjmení</label>
                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                    <input type="text" th:field="*{lastName}" id="lastName" name="lastName" class="form-control mb-4"
                           placeholder="Příjmení" required pattern=".{2,50}" title="Délka 2-50 znaků."/>

                </div>

                <div class="form-group">

                    <label for="password">Heslo</label>
                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                    <input type="password" th:field="*{password}" id="password" name="password"
                           class="form-control mb-4"
                           placeholder="Heslo" required pattern=".{5,}" title="Minimální délka je 5 znaků."/>

                </div>

                <div class="form-group">
                    <label th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"></label>
                    <input id="matchingPass" type="password" th:field="*{matchingPassword}" name="matchingPassword" class="form-control mb-4"
                           placeholder="Zopakujte heslo" required pattern=".{5,}" title="Minimální délka je 5 znaků."/>
                </div>
                <div class="form-group">
                    <label for="password">O mně (nepovinné)</label>
                    <label th:if="${#fields.hasErrors('aboutMe')}" th:errors="*{aboutMe}"></label>
                    <textarea type="text" th:field="*{aboutMe}" name="aboutMe" class="form-control mb-4"
                              placeholder="O mně (nepovinné)" pattern=".{,1500}" title="Max 1500 znaků." rows="4"
                              cols="50"></textarea>
                </div>


                <div class="input-group mb-2">
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Vyberte obrázek (nepovinné)</label>
                    </div>
                </div>

                <!-- Send button -->
                <button class="btn btn-primary" type="submit">Vytvořit</button>

            </form>
        </div>
    </div>




    <div th:replace="'./fragments/fragments.html' :: footer"></div>
    <script>
        // Function to check Whether both passwords
        // is same or not.
        function checkForm(form)
        {

            if(form.password.value !== "" && form.password.value === form.matchingPassword.value) {
                return true
            } else {
                alert("Chyba: Hesla se neschodují");
                form.password.focus();
                return false;
            }

        }
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

    </script>
</div>
</body>
</html>