<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Příspěvek - vytvořit</title>
</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>

<div class="container-fluid container-small">


    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Vytvořit příspěvek</h1>
        </div>


    </div>

    <div class="row justify-content-center align-items-center mt-3 text-center">
        <div class="col-md-6 rounded mt-3 p-5">
            <form action="#" method="post" th:action="@{/admin/poradna/prispevky/vytvorit}" th:method="post"
                  th:object="${post}">


                <div class="form-group">
                    <label for="topic">Téma</label>
                    <label th:errors="*{topic}" th:if="${#fields.hasErrors('topic')}"></label>
                    <select class="form-control" id="topic" th:field="*{topic}">
                        <option selected="selected" value="">Vyberte prosím téma</option>
                        <option th:each="topic : ${topics}"
                                th:text="${topic.name}"
                                th:value="${topic.id}"></option>
                    </select>
                </div>


                <div class="form-group">


                    <label for="text">Text komentáře</label>
                    <label class="label-error" th:errors="*{text}" th:if="${#fields.hasErrors('text')}"></label>
                    <textarea class="form-control mb-4" cols="50" id="text" maxlength="1000"
                              minlength="5"
                              name="text" placeholder="Text příspěvku" required rows="4" th:field="*{text}"
                              type="text"></textarea>
                    <label id="count">Zbývá 1000 znaků.</label>

                </div>


                <!-- Send button -->
                <button class="btn btn-primary" type="submit">Vytvořit</button>

            </form>
        </div>
    </div>


    <div th:replace="'./fragments/fragments.html' :: footer"></div>

</div>
</body>
</html>