//medium green
$color-primary: #98b880;
//dark green
$color-secondary: #3f6844;
//black
$color-tertiary: #212529;
//yellow
$color-quaternary: #FAF1CF;
//light green
$color-quinary: #c1d3b4;
//white-yellow(bg)
$color-background: #F7F7F7;

$break-sm: 576px;

$break-md: 768px;

$break-lg: 992px;

$break-xl: 1200px;