<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Kategorie - Upravit</title>
</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>

<div class="container-fluid container-small">


    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Upravit kategorii</h1>
        </div>


    </div>

    <div class="row justify-content-center align-items-center mt-3 text-center">
        <div class="col-md-6 rounded mt-3 p-5">
            <form method="POST" action="#" th:method="POST" th:object="${category}"
                  th:action="@{/admin/poradna/kategorie/upravit}">


                <div class="form-group">

                    <label for="id">Id kategorie</label>
                    <br/>
                    <input class="form-control" type="text" id="id" name="id" th:field="*{id}" readonly="readonly"/>
                </div>

                <div class="form-group">

                    <label for="user">Uživatel </label>
                    <br/>
                    <input class="form-control" type="text" id="user" name="user" th:field="*{user.username}"
                           readonly="readonly"/>
                </div>

                <div class="form-group">

                    <label for="createDateTime">Datum vytvoření </label>
                    <br/>
                    <input class="form-control" type="text" id="createDateTime" name="createDateTime"
                           th:field="*{createDateTime}"
                           readonly="readonly"/>
                </div>


                <div class="form-group">

                    <label for="updateDateTime">Datum poslední úpravy</label>
                    <br/>
                    <input class="form-control" type="text" id="updateDateTime" name="updateDateTime"
                           th:field="*{updateDateTime}"
                           readonly="readonly"/>
                </div>

                <div class="form-group">

                    <label for="name">Název kategorie</label>
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                    <input type="text" th:field="*{name}" id="name" name="name" class="form-control mb-4"
                           placeholder="Název kategorie" required pattern=".{3,50}" title="Délka 3-50 znaků."/>
                </div>

                <input type="hidden" th:field="*{url}" id="url" name="url" />

                <!-- Send button -->
                <button class="btn btn-primary" type="submit">Upravit</button>

            </form>
        </div>
    </div>


    <div th:replace="'./fragments/fragments.html' :: footer"></div>

</div>
</body>
</html>