<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Uživatel - upravit</title>
</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>

<div class="container-fluid container-small">


    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Upravit uživatele</h1>
        </div>


    </div>

    <div class="row justify-content-center align-items-center mt-3 text-center">
        <div class="col-md-6 rounded mt-3 p-5">
            <form action="#" enctype="multipart/form-data" method="post" th:action="@{/admin/poradna/uzivatele/upravit}"
                  th:method="post" th:object="${user}">


                <input class="form-control mb-4" id="id" name="id" required
                       th:field="*{id}"
                       type="hidden"/>

                <input class="form-control mb-4" id="password" name="password" required
                       th:field="*{password}"
                       type="hidden"/>

                <input class="form-control mb-4" id="createDateTime" name="createDateTime" required
                       th:field="*{createDateTime}"
                       type="hidden"/>

                <input class="form-control mb-4" id="image" name="image" required
                       th:field="*{image}"
                       type="hidden"/>

                <div class="form-group">

                    <label for="username">Uživatelské jméno</label>
                    <label th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></label>
                    <input class="form-control mb-4" id="username" name="username" placeholder="Uživatelské jméno" readonly="readonly"
                           th:field="*{username}" type="text"/>

                </div>


                <div class="form-group">

                    <label for="email">Email</label>
                    <label th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></label>
                    <input class="form-control mb-4" id="email" name="email" placeholder="Email" readonly="readonly"
                           th:field="*{email}" type="email"/>

                </div>

                <div class="form-group">

                    <label for="firstName">Jméno</label>
                    <label th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></label>
                    <input class="form-control mb-4" id="firstName" name="firstName" pattern=".{2,50}" placeholder="Jméno"
                           required th:field="*{firstName}" title="Délka 2-50 znaků." type="text"/>

                </div>

                <div class="form-group">

                    <label for="lastName">Příjmení</label>
                    <label th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></label>
                    <input class="form-control mb-4" id="lastName" name="lastName" pattern=".{2,50}" placeholder="Příjmení"
                           required th:field="*{lastName}" title="Délka 2-50 znaků." type="text"/>

                </div>


                <div class="form-group">
                    <label for="aboutMe">O mně (nepovinné)</label>
                    <label th:errors="*{aboutMe}" th:if="${#fields.hasErrors('aboutMe')}"></label>
                    <textarea class="form-control mb-4" cols="50" id="aboutMe" name="aboutMe" pattern=".{,1500}"
                              placeholder="O mně (nepovinné)" rows="4" th:field="*{aboutMe}" title="Max 1500 znaků."
                              type="text"></textarea>
                </div>


                <div class="form-group">
                    <label for="role">Role</label>
                    <label th:errors="*{role}" th:if="${#fields.hasErrors('role')}"></label>
                    <select class="form-control" id="role" th:field="*{role}">
                        <option selected="selected" value="">Vyberte prosím roli</option>
                        <option th:each="role : ${roles}"
                                th:text="${role}"
                                th:value="${role}"></option>
                    </select>
                </div>


                <div th:if="*{image != null}">

                    <img class="img-fluid mx-auto d-block" th:src="|data:image/jpeg;base64,*{image.getEncodeBase64()}|">

                </div>

                <div class="input-group mb-2">
                    <div class="custom-file">
                        <input class="custom-file-input" id="customFile" name="file" type="file">
                        <label class="custom-file-label" for="customFile">Nový obrázek (nepovinné)</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input id="aboutUs" name="aboutUs" th:checked="*{aboutUs}" type="checkbox"/>
                        <label class="form-check-label" for="aboutUs">V sekci o nás?</label>
                    </div>
                </div>

                <input id="topics" name="topics" th:field="*{topics}" type="hidden"/>
                <input id="posts" name="posts" th:field="*{posts}" type="hidden"/>
                <input id="topicCount" name="topicCount" th:field="*{topicCount}" type="hidden"/>
                <input id="postCount" name="postCount" th:field="*{postCount}" type="hidden"/>
                <input id="articleCount" name="articleCount" th:field="*{articleCount}" type="hidden"/>
                <!-- Send button -->
                <button class="btn btn-primary" type="submit">Upravit</button>

            </form>
        </div>
    </div>


    <div th:replace="'./fragments/fragments.html' :: footer"></div>

</div>
</body>
</html>