<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Změnit heslo</title>

</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>

<div class="container-fluid container-small">


    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Změnit heslo</h1>
        </div>


    </div>

    <div class="row justify-content-center align-items-center mt-3 text-center">
        <div class="col-xl-3 col-lg-4 col-md-5 offset-lg-3 offset-md-1 rounded mx-3 p-5 border-custom">
            <form action="#" autocomplete="off" method="POST" onsubmit="return checkForm(this)"
                  th:action="@{/nastaveni/zmenit-heslo}" th:method="POST">


                <div class="form-group">
                    <label for="oldPassword">Staré heslo</label>
                    <input class="form-control" id="oldPassword" name="oldPassword" placeholder="Staré heslo"
                           required type="password">

                </div>

                <div class="form-group">

                    <label for="password">Heslo</label>
                    <input class="form-control mb-4" id="password" name="password"
                           pattern=".{5,}"
                           placeholder="Heslo" required title="Minimální délka je 5 znaků." type="password"/>

                </div>

                <div class="form-group">
                    <input class="form-control mb-4" id="matchingPass" name="matchingPassword" pattern=".{5,}"
                           placeholder="Zopakujte heslo" required title="Minimální délka je 5 znaků." type="password"/>
                </div>

                <!-- Send button -->
                <button class="btn btn-primary mt-2" type="submit">Resetovat heslo</button>

            </form>
        </div>

    </div>


    <div th:replace="'./fragments/fragments.html' :: footer"></div>

    <script>
        // Function to check Whether both passwords
        // is same or not.
        function checkForm(form) {

            if (form.password.value !== "" && form.password.value === form.matchingPassword.value) {
                return true
            } else {
                alert("Chyba: Hesla se neschodují");
                form.password.focus();
                return false;
            }

        }

    </script>

</div>
</body>
</html>