<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{::link})">
    <title>Články - vytvořit</title>
    <link rel="stylesheet" th:href="@{~/css/simditor.css}">
</head>


<body>


<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>

<div class="container-fluid">

    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Přidat článek</h1>
        </div>


    </div>

    <div class="row justify-content-center align-items-center mt-3 text-center">
        <div class="col-md-6 rounded mt-3 p-5">
            <form action="#" enctype="multipart/form-data" method="post" th:action="@{/admin/clanky/vytvorit}"
                  th:method="post" th:object="${article}">


                <div class="form-group">

                    <label for="name">Název článku</label>
                    <label class="label-error" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></label>
                    <input class="form-control mb-4" id="name" name="name" pattern=".{3,100}" placeholder="Název článku"
                           required th:field="*{name}" title="Délka 3-100 znaků." type="text"/>

                </div>


                <div class="form-group">

                    <label for="text">Text článku</label>
                    <label class="label-error" th:errors="*{text}" th:if="${#fields.hasErrors('text')}"></label>
                    <textarea class="form-control mb-4" cols="50" id="text" name="text" placeholder="Text článku"
                              required rows="4" th:field="*{text}" type="text"></textarea>

                    <label id="count"></label>
                </div>

                <div class="form-group">
                    <label for="articleType">Typ článku</label>
                    <label th:errors="*{articleType}" th:if="${#fields.hasErrors('articleType')}"></label>
                    <select class="form-control" id="articleType" th:field="*{articleType}">
                        <option selected="selected" value="">Vyberte typ článku</option>
                        <option th:each="type : ${articleTypes}"
                                th:text="${type.name}"
                                th:value="${type.id}"></option>
                    </select>
                </div>


                <div class="input-group mb-2">
                    <div class="custom-file">
                        <input class="custom-file-input" id="customFile" multiple="multiple" name="files" type="file">
                        <label class="custom-file-label" for="customFile" id="upload-file-info">Vyberte obrázky</label>
                    </div>
                </div>

                <input id="url" name="url" th:field="*{url}" type="hidden"/>


                <!-- Send button -->
                <button class="btn btn-primary" type="submit">Vytvořit</button>

            </form>
        </div>
    </div>


    <div th:replace="'./fragments/fragments.html' :: footer"></div>


    <script th:src="@{~/js/simditor/module.js}"></script>
    <script th:src="@{~/js/simditor/hotkeys.js}"></script>
    <script th:src="@{~/js/simditor/uploader.js}"></script>
    <script th:src="@{~/js/simditor/simditor.js}"></script>

    <script>
        var editor = new Simditor({
            textarea: $('#text')
            //optional options
        });

        $(".custom-file-input").on("change", function () {
            //clear the info before appending
            $(".custom-file-label").html("");

            var files = $(this).prop('files');
            for (var i = 0; i < files.length; i++) {
                $('#upload-file-info').append(files[i].name + ' ');
            }

        });

    </script>
</div>
</body>
</html>