<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Index</title>

</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>

<div class="container-fluid">


    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Nadpis</h1>
        </div>


    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md p-4">
                <h2 class="text-center">Nadpis 2</h2>
                <p>
                    Text
                </p>
            </div>
        </div>
    </div>


    <div th:replace="'./fragments/fragments.html' :: footer"></div>

</div>
</body>
</html>