<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Ukázky Elektrolarynx</title>

</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>

<div class="container container-small">


    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Elektrolarynx</h1>
        </div>


    </div>

    <div class="row">
        <div class="col">
            <p><strong>Elektrolarynx</strong> je přístroj, který po přiložení na měkké části krku vydává slyšitelné vibrace a jednotlivá slova se pak vytváří mluvidly - pohybem úst a jazyka.</p>
            <p><strong>Elektrolarynx</strong> se vydává na předpis foniatra a je plně hrazen zdravotními pojišťovnami.</p>
        </div>

    </div>

    <div class="row mt-3 justify-content-around">

        <div class="col-lg-6 my-2">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1ioN16EHQ2s?rel=0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 my-2">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gi-G9vVt-WE?rel=0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>


<div th:replace="'./fragments/fragments.html' :: footer"></div>

</div>
</body>
</html>