<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Index</title>

</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>

<div class="container container-small">


    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Status <span th:remove="tag" th:text="${status}"></span></h1>
        </div>


    </div>


    <div class="row  mt-3">
        <div class="col-md p-4">
            <h2 class="text-center"><span th:remove="tag"
                                          th:text="${status} == 404 ? 'Stránka neexistuje' : ''"></span>
                <span th:remove="tag" th:text="${status} == 403 ? 'Přístup zamítnut' : ''"></span></h2>
            <h4 class="text-left my-md-5 my-2">Cesta: <span th:remove="tag" th:text="${path}"></span></h4>
            <h4 class="text-left my-md-5 my-2">Status: <span th:remove="tag" th:text="${status}"></span></h4>
            <h4 class="text-left my-md-5 my-2">Chyba: <span th:remove="tag" th:text="${error}"></span></h4>
            <h4 class="text-left my-md-5 my-2">Datum: <span th:remove="tag" th:text="${timestamp}"></span></h4>

        </div>

    </div>

</div>
<div th:replace="'./fragments/fragments.html' :: footer"></div>


</body>
</html>