<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Partneři a sponzoři</title>

</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>

<div class="container-fluid container-small">

    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Partneři a sponzoři</h1>
            <h2 class="text-center">Všem našim dárcům děkujeme za přízeň a za podporu naší činnosti.</h2>

        </div>


    </div>

    <div class="d-flex flex-wrap justify-content-around">
        <img alt="Logo Královehradcký kraj"
             src="/images/partneri-sponzori/kralovehradecky-kraj.jpg" th:src="@{~/images/partneri-sponzori/kralovehradecky-kraj.jpg}">
        <img alt="Logo Rana HK s.r.o" src="/images/partneri-sponzori/rana.png"
             th:src="@{~/images/partneri-sponzori/rana.png}">
        <img alt="Logo Tepelné Hospodářství HK a.s." src="/images/partneri-sponzori/thhk.png"
             th:src="@{~/images/partneri-sponzori/thhk.png}">
        <img alt="Logo Matrix a.s." src="/images/partneri-sponzori/matrix.jpg"
             th:src="@{~/images/partneri-sponzori/matrix.jpg}">
        <img alt="Logo Gastromedic s.r.o." src="/images/partneri-sponzori/gastromedic.png"
             th:src="@{~/images/partneri-sponzori/gastromedic.png}">
        <img alt="Logo Konica Minolta"
             src="/images/partneri-sponzori/konica-minolta.png" th:src="@{~/images/partneri-sponzori/konica-minolta.png}">
    </div>
    <div class="d-flex flex-wrap justify-content-around">
        <img alt="Logo ClimTech HK" src="/images/partneri-sponzori/g-climtech.png"
             th:src="@{~/images/partneri-sponzori/g-climtech.png}">
        <img alt="Logo Žemlička" src="/images/partneri-sponzori/zemlicka.jpg"
             th:src="@{~/images/partneri-sponzori/zemlicka.jpg}">
        <img alt="Logo LindCare" src="/images/partneri-sponzori/lindcare.png"
             th:src="@{~/images/partneri-sponzori/lindcare.png}">
        <img alt="Logo Uniprint" src="/images/partneri-sponzori/uniprint.jpg"
             th:src="@{~/images/partneri-sponzori/uniprint.jpg}">
        <img alt="Logo Medial" src="/images/partneri-sponzori/medial.gif"
             th:src="@{~/images/partneri-sponzori/medial.gif}">
    </div>

    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h2 class="text-center">Odborná spolupráce</h2>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-around">
        <img alt="Logo LogoMedic" src="/images/partneri-sponzori/logo-medic.jpg"
             th:src="@{~/images/partneri-sponzori/logo-medic.jpg}">
        <img alt="Logo Česká společnost OaCh Hlavy a krku" src="/images/partneri-sponzori/csoachhak.jpg"
             th:src="@{~/images/partneri-sponzori/csoachhak.jpg}">
        <img alt="ORL Fakultní nemocnice HK" src="/images/partneri-sponzori/orl-fhk.jpg"
             th:src="@{~/images/partneri-sponzori/orl-fhk.jpg}">
    </div>


    <div th:replace="'./fragments/fragments.html' :: footer"></div>

</div>
</body>
</html>