<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Poradna</title>
</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>
<div class="container-fluid container-small">

    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Úvod poradny</h1>

        </div>

    </div>

    <div th:replace="'./fragments/fragments.html' :: admin-navigation"></div>

    <div class="row mt-3 rounded">
        <div class="col-xl-2 col-sm-6 col-5 text-center">
            <a class="btn btn-primary btn-block " th:href="@{/poradna}"
               th:classappend="${#request.requestURI == '/poradna' ? 'active':''}"> Úvod poradny</a>
            <br>
            <h2>Kategorie</h2>
            <div th:each="category : ${categories}">
                <p><a class="btn btn-primary btn-block"
                      th:href="@{~/poradna/{url}(url=${category.url})}"
                      th:text="${category.name}"></a></p>

            </div>
            <br>
            <div class="text-center">
                <h2 class="text-center">Statistiky poradny</h2>
                <h4>Počet témat: <span th:text="${topicCount}"></span></h4>
                <h4>Počet příspěvků: <span th:text="${postCount}"></span></h4>
            </div>

        </div>

        <div class="offset-1 col-xl-8 col-10 text-center">
            <h2 class="text-center">Nejnovější události</h2>
            <table class="table table-striped table-responsive-sm">
                <thead>
                <tr>
                    <th class="text-left"> Téma</th>
                    <th> Kategorie</th>
                    <th> Autor</th>
                    <th class="column-hide-second"> Vytvořeno</th>


                </tr>
                </thead>
                <tbody>

                <tr th:if="${topicOrPostList.empty}">
                    <td colspan="5"> Žádné dostupné přispěvky</td>
                </tr>
                <tr th:each="topicOrPost : ${topicOrPostList}" th:object="${topicOrPost}">
                    <td class="text-left"><a th:href="@{/poradna/tema/{id}(id=*{topicId})}"><span
                            th:text="*{topicName}"> Téma přispevku </span></a><br/><small
                            th:text="*{getDescription()}"></small></td>
                    <td th:text="*{categoryName}"> Kategorie příspěvku</td>
                    <td th:text="*{author}"> Autor</td>
                    <td th:text="*{getTimePassedString()}" class="column-hide-second"> Vytvořeno</td>


                </tr>
                </tbody>
            </table>

        </div>



    </div>
</div>

<div th:replace="'./fragments/fragments.html' :: footer"></div>
</div>
</body>
</html>