<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Téma</title>
</head>

<body>

<div th:insert="'./fragments/fragments.html' :: header">
</div>
<div th:insert="'./fragments/fragments.html' :: nav">
</div>
<div class="container container-small bg-white">


    <div class="row mt-4 pt-4 rounded">
        <div class="col-lg">
            <h1 class="text-center" th:text="${topic.name}">Nadpis</h1>
        </div>
    </div>


    <div class="row p-5">
        <div class="col-md p-4 text-center">
            <a class="btn btn-primary" th:href="@{/poradna/prispevek-novy/{id}(id=${topic.id})}">Přidat
                komentář </a>

            <a class="btn btn-primary" th:href="@{/poradna/sledovat/{id}(id=${topic.id})}">Sledovat </a>

            <a class="btn btn-primary" th:href="@{/poradna/{url}(url=${topic.category.url})}">Zpět </a>


        </div>
    </div>

    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/poradna}" th:text="Poradna"></a></li>
            <li class="breadcrumb-item"><a th:href="@{/poradna/{url}(url=${topic.category.url})}"
                                           th:text="${topic.category.name}"></a></li>
            <li aria-current="page" class="breadcrumb-item active" th:text="${topic.name}"></li>
        </ol>

    </div>

    <div th:replace="'./fragments/fragments.html' :: pagination"></div>

    <div class="forum my-3">
        <hr>
        <div class="row">
            <div class="col-2">
                <img alt="odborník icon" src="images/icons/doctor-sm.png" th:if="${topic.user.getRole().equals('Doktor')}"
                     th:src="@{~/images/icons/doctor-sm.png}" title="Odborník">
            </div>

            <div class="col-10 px-4 text-left">
                <p>

                    <span th:remove="tag" th:text="|${topic.user.firstName} ${topic.user.lastName}:|"></span>
                </p>

            </div>
        </div>
        <div class="row">


            <div class="col-2">
                <p><b>Dotaz:</b></p>
            </div>

            <div class="col-10 px-4 text-left">
                <div>
                    <span th:remove="tag" th:text="${topic.text}"></span></p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="offset-2 col-10 px-4 pt-2 text-left">
                <p><span th:remove="tag" th:text="${topic.timePassedString}"></span></p>
            </div>
        </div>
    </div>


    <hr>
    <div th:if="${posts.empty}">
        <div class="row">
            <div class="col-md p-4 text-center">

                <p>Zatím žádné odpovědi.</p>
            </div>
        </div>
    </div>
    <div class="my-3" th:each="post : ${posts}">
        <div class="row">
            <div class="col-2">
                <img alt="odborník icon" src="images/icons/doctor-sm.png" th:if="${post.user.getRole().equals('Doktor')}"
                     th:src="@{~/images/icons/doctor-sm.png}" title="Odborník">
            </div>
            <div class="col-10 px-4 text-left">
                <p><span th:remove="tag" th:text="|${post.user.firstName} ${post.user.lastName}:|"></span></p>
            </div>
        </div>
        <div class="row">

            <div class="offset-2 col-10 px-4 text-left">
                <p th:text="${post.text}"></p>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-10 px-4 pt-2 text-left">
                <p th:text="${post.timePassedString}"></p>
            </div>
        </div>

        <hr>
    </div>


    <div class="row justify-content-center align-items-center mt-3 text-center">
        <div class="col-md-6 rounded mt-3 p-5">
            <form action="#" method="post" th:action="@{/poradna/prispevek-novy/}+${topic.id}" th:method="post"
                  th:object="${post}">


                <div class="form-group">


                    <label for="text">Text komentáře</label>
                    <label class="label-error" th:errors="*{text}" th:if="${#fields.hasErrors('text')}"></label>
                    <textarea class="form-control mb-4" cols="50" id="text" maxlength="1000"
                              minlength="5"
                              name="text" placeholder="Text komentáře" required rows="4" th:field="*{text}"
                              type="text"></textarea>
                    <label id="count">Zbývá 1000 znaků.</label>

                </div>


                <!-- Send button -->
                <button class="btn btn-primary" type="submit">Napsat komentář</button>

            </form>
        </div>
    </div>


    <div th:replace="'./fragments/fragments.html' :: pagination"></div>
</div>

<div th:insert="'./fragments/fragments.html' :: footer"></div>

</body>
</html>