<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Téma</title>
</head>

<body>

<div th:insert="'./fragments/fragments.html' :: header">
</div>
<div th:insert="'./fragments/fragments.html' :: nav">
</div>
<div class="container container-small bg-white">


    <div class="row mt-4 pt-4 rounded">
        <div class="col-lg">
            <h1 th:text="${topic.name}" class="text-center">Nadpis</h1>
        </div>
    </div>


    <div class="row p-5">
        <div class="col-md p-4 text-center">
            <a class="btn btn-primary" th:href="@{/poradna/prispevek-novy/{id}(id=${topic.id})}">Přidat
                komentář </a>

            <a class="btn btn-primary" th:href="@{/poradna/sledovat/{id}(id=${topic.id})}">Sledovat </a>

            <a class="btn btn-primary" th:href="@{/poradna/{url}(url=${topic.category.url})}">Zpět </a>


        </div>
    </div>

    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:text="Poradna" th:href="@{/poradna}"></a></li>
            <li class="breadcrumb-item"><a th:text="${topic.category.name}"
                                           th:href="@{/poradna/{url}(url=${topic.category.url})}"></a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${topic.name}"></li>
        </ol>

    </div>

    <div th:replace="'./fragments/fragments.html' :: pagination"></div>

    <div class="forum my-3">
        <hr>
        <div class="row">
            <div class="col-2">
                <img title="Odborník" alt="odborník icon" th:if="${topic.user.getRole().equals('Doktor')}" th:src="@{~/images/icons/doctor-sm.png}" src="images/icons/doctor-sm.png">
            </div>

            <div class="col-10 px-4 text-left">
                <p>

                    <span th:text="|${topic.user.firstName} ${topic.user.lastName}:|" th:remove="tag"></span>
                </p>

            </div>
        </div>
        <div class="row">


            <div class="col-2">
                <p><b>Dotaz:</b></p>
            </div>

            <div class="col-10 px-4 text-left">
                <div>
                    <span th:text="${topic.text}" th:remove="tag"></span></p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="offset-2 col-10 px-4 pt-2 text-left">
                <p><span th:text="${topic.timePassedString}" th:remove="tag"></span></p>
            </div>
        </div>
    </div>



    <hr>
    <div th:if="${posts.empty}">
        <div class="row">
            <div class="col-md p-4 text-center">

                <p>Zatím žádné odpovědi.</p>
            </div>
        </div>
    </div>
    <div th:each="post : ${posts}" class="my-3">
        <div class="row">
            <div class="col-2">
                <img title="Odborník" alt="odborník icon" th:if="${post.user.getRole().equals('Doktor')}" th:src="@{~/images/icons/doctor-sm.png}" src="images/icons/doctor-sm.png">
            </div>
            <div class="col-10 px-4 text-left">
                <p><span th:text="|${post.user.firstName} ${post.user.lastName}:|" th:remove="tag"></span></p>
            </div>
        </div>
        <div class="row">

            <div class="offset-2 col-10 px-4 text-left">
                <p th:text="${post.text}"></p>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-10 px-4 pt-2 text-left">
                <p th:text="${post.timePassedString}"></p>
            </div>
        </div>

        <hr>
    </div>


    <div class="row justify-content-center align-items-center mt-3 text-center">
        <div class="col-md-6 rounded mt-3 p-5">
            <form method="post" action="#" th:method="post" th:action="@{/poradna/prispevek-novy/}+${topic.id}"
                  th:object="${post}">


                <div class="form-group">


                    <label for="text">Text komentáře</label>
                    <label class="label-error" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></label>
                    <textarea type="text" th:field="*{text}" id="text" name="text"
                              class="form-control mb-4"
                              placeholder="Text komentáře" rows="4" cols="50" required minlength="5" maxlength="1000"></textarea>
                    <label id="count">Zbývá 1000 znaků.</label>

                </div>


                <!-- Send button -->
                <button class="btn btn-primary" type="submit">Napsat komentář</button>

            </form>
        </div>
    </div>



<div th:replace="'./fragments/fragments.html' :: pagination"></div>
</div>

<div th:insert="'./fragments/fragments.html' :: footer"></div>

</body>
</html>