<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Téma - upravit</title>
</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>

<div class="container-fluid container-small">


    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Upravit téma</h1>
        </div>


    </div>

    <div class="row justify-content-center align-items-center mt-3">
        <div class="col-md-6 rounded p-2 text-center">
            <form action="#" method="POST" th:action="@{/admin/poradna/temata/upravit}" th:method="POST"
                  th:object="${topic}">


                <div class="form-group">

                    <label for="id">Id Tématu</label>
                    <input class="form-control" id="id" name="id" readonly="readonly" th:field="*{id}" type="text"/>
                </div>

                <div class="form-group">

                    <label for="user">Uživatel </label>
                    <input class="form-control" id="user" name="user" readonly="readonly" th:field="*{user.username}"
                           type="text"/>
                </div>

                <div class="form-group">

                    <label for="createDateTime">Datum vytvoření </label>
                    <input class="form-control" id="createDateTime" name="createDateTime" readonly="readonly"
                           th:field="*{createDateTime}"
                           type="text"/>
                </div>

                <div class="form-group">

                    <label for="updateDateTime">Datum poslední úpravy</label>
                    <input class="form-control" id="updateDateTime" name="updateDateTime" readonly="readonly"
                           th:field="*{updateDateTime}"
                           type="text"/>
                </div>

                <div class="form-group">
                    <label for="category">Kategorie</label>
                    <label th:errors="*{category}" th:if="${#fields.hasErrors('category')}"></label>
                    <select class="form-control" id="category" th:field="*{category}">
                        <option th:each="category : ${categories}"
                                th:text="${category.name}"
                                th:value="${category.id}"></option>
                    </select>
                </div>

                <div class="form-group">

                    <label for="name">Nadpis tématu </label>
                    <label th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></label>
                    <input class="form-control" id="name" name="name" th:field="*{name}" type="text"/>
                </div>

                <label for="text">Text tématu</label>
                <label class="label-error" th:errors="*{text}" th:if="${#fields.hasErrors('text')}"></label>
                <textarea class="form-control mb-4" cols="50" id="text" maxlength="1000"
                          minlength="5"
                          name="text" placeholder="Text příspěvku" required rows="4" th:field="*{text}"
                          type="text"></textarea>
                <label id="count"></label>


                <!-- Send button -->
                <button class="btn btn-primary" type="submit">Upravit</button>

            </form>
        </div>
    </div>


    <div th:replace="'./fragments/fragments.html' :: footer"></div>

</div>
</body>
</html>