<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="'./fragments/fragments.html' :: head(~{::title},~{})">
    <title>Téma - vytvořit</title>
</head>

<body>

<div th:replace="'./fragments/fragments.html' :: header">
</div>
<div th:replace="'./fragments/fragments.html' :: nav">
</div>

<div class="container-fluid container-small">


    <div class="row m-3 p-3 rounded">
        <div class="col-lg">
            <h1 class="text-center">Vytvořit téma</h1>
        </div>


    </div>

    <div class="row justify-content-center align-items-center mt-3 text-center">
        <div class="col-md-6 rounded mt-3 p-5">
            <form action="#" method="post" th:action="@{/admin/poradna/temata/vytvorit}" th:method="post"
                  th:object="${topic}">

                <div class="form-group">
                    <label for="category">Kategorie</label>
                    <label th:errors="*{category}" th:if="${#fields.hasErrors('category')}"></label>
                    <select class="form-control" id="category" th:field="*{category}">
                        <option selected="selected" value="">Vyberte prosím kategorii</option>
                        <option th:each="category : ${categories}"
                                th:text="${category.name}"
                                th:value="${category.id}"></option>
                    </select>
                </div>

                <div class="form-group">

                    <label for="name">Název tématu</label>
                    <label th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></label>
                    <input class="form-control mb-4" id="name" name="name" pattern=".{3,50}" placeholder="Název tématu"
                           required th:field="*{name}" title="Délka 3-50 znaků." type="text"/>

                </div>

                <label for="text">Text tématu</label>
                <label class="label-error" th:errors="*{text}" th:if="${#fields.hasErrors('text')}"></label>
                <textarea class="form-control mb-4" cols="50" id="text" maxlength="1000"
                          minlength="5"
                          name="text" placeholder="Text příspěvku" required rows="4" th:field="*{text}"
                          type="text"></textarea>
                <label id="count">Zbývá 1000 znaků.</label>


                <!-- Send button -->
                <button class="btn btn-primary" type="submit">Vytvořit</button>

            </form>
        </div>
    </div>


    <div th:replace="'./fragments/fragments.html' :: footer"></div>

</div>
</body>
</html>